[workspace]
preview = ["pixi-build"]
authors = [
    "Maximilian Dösch <doesch.maximilian@gmail.com>",
    "Daniel San José Pro <42489409+danielsanjosepro@users.noreply.github.com>"
]
channels = ["https://fast.prefix.dev/conda-forge"]
name = "crisp_gym"
platforms = ["linux-64"]

[activation]
scripts = [
    "scripts/set_env.sh",
]

[dependencies]
python = "3.12.*"
compilers = "*"
cmake = "*"
pkg-config = "*"
make = "*"
ninja = "*"
typing_inspect = ">=0.9.0,<0.10"
libstdcxx-ng = ">=12.2.0"


[target.linux.dependencies]
libgl-devel = "*"

[environments]
dev = { features = ["dev"] }
lerobot = { features = ["lerobot"] }
jazzy = { features = ["jazzy"] }
jazzy-lerobot = { features = ["jazzy", "lerobot", "dev"] }

[feature.dev.pypi-dependencies]
pre-commit = "*"
ruff = "*"
debugpy = ">=1.8.14,<2"
pudb = ">=2025.1.3, <2026"

[feature.lerobot.dependencies]
pynput = "*"
rerun-sdk = "=0.22.1"

[feature.lerobot.pypi-dependencies]
# === Working version ===
lerobot = { git = "https://github.com/huggingface/lerobot", rev = "dacd1d7f5c719c3e56d7b7154a751bef6d5bd23c", extras = ["smolvla"]}
# === Newer version ===
# lerobot = { git = "https://github.com/huggingface/lerobot", rev = "74690e3f56a90b6ea314afbfb3b801a3d842a005", extras = ["smolvla"]}
# === Local version ===
# lerobot = { path = "../lerobot/", editable = true }


[feature.jazzy]
channels = ["https://prefix.dev/robostack-jazzy"]

[feature.jazzy.dependencies]
ros-jazzy-desktop = "*"
ros-jazzy-ros2-control = "*"
ros-jazzy-ros2-controllers = "*"
colcon-common-extensions = "*"
rosdep = "*"
ros-jazzy-rmw-cyclonedds-cpp = "*"
ros-jazzy-rmw-zenoh-cpp = "*"

[pypi-dependencies]
crisp_gym = { path = ".", editable = true }
crisp-python = { git = "https://github.com/brianchang1025/crisp_py_panda"}
[tasks]
configure = "bash scripts/configure.sh"
